html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #020D1D;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

main > section {
    min-width: 400px;
}

hr {
    width: 100%;

    border: 1px solid whitesmoke;
}

.title-wrap {
    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;

    margin-bottom: 30px;


    color: white;
}

.title-wrap h1 {
    font-size: 36px;
}

.loading-wrapper {
    animation: rotate 2s ease infinite;
}

.loading {
    width: 100px;
    height: 100px;
}

.loading path {
    fill: royalblue;
}

@media (max-width: 960px) {
    .title-wrap h1 {
        font-size: 24px;
    }
}

@media (max-height: 960px) {
    main {
        height: initial;

        padding-top: 40px;
        padding-bottom: 40px;
    }

    main > section {
        min-width: initial;
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
        -o-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}