html, body {
	margin: 0px;
	padding: 0px
}

main {
	background-color: #020D1D;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

.title-wrap {
	display: flex;
	gap: 20px;

	align-items: center;

	margin-bottom: 30px;
}