.notice-section {
	margin-top: 100px;
}

.user-section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 20px;

	padding: 50px;

	background-color: white;
	border-radius: 5px;
}

.user-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 50px;
}

.user-item[data-key=profile] {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 50px;

	margin-bottom: 50px;
}

.user-item[data-key=profile] > img {
	border-radius: 50%;
}

.user-item[data-key=logout] {
	margin-top: 50px;
}

.user-item[data-key=logout] > button {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	gap: 10px;
	justify-content: center;
	align-items: center;

	padding: 10px;
	background-color: #CECECE;

	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 2px 2px 10px gainsboro;
}

.user-item[data-key=logout] > button:hover {
	cursor: pointer;
}

.user-item[data-key=logout] > button > img {
	flex-basis: 20px;

	width: 20px;
	height: 20px;
}

.user-item[data-key=logout] > button > span {
	flex-basis: 100%;

	font-size: 14px;
}